.parent{
    border: 2px black solid;
    height: 300px;
    background-color: bisque;
}
.child{
    border: 2px black solid;
    width: 50%;
    background-color: blueviolet;
}
.child2{
    background-color: cadetblue;
    width: 50vw;
}